@charset "UTF-8";
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.wrap{
	width: 800px;
	border: 1px solid silver;
	margin: 100px auto;
	text-align: center;
}
.wrap_header{
	margin: 50px 0;
}
.wrapper{
	width: 350px;
	margin: auto;
}
.inputSpan{
	margin-left: 10px;
	float: left;
}
#email{
	width: 200px;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#authCode_btn{
	width: 130px;
	height: 40px;
}
#pw{
	width: 200px;
	height: 40px;
	margin-right: 10px;
}
#login_btn{
	width: 130px;
	height: 40px;
}